<div class="row" style="padding-top: 65px;">
    <div class="col-md-8 offset-md-2">
        <h3><%= @recipe.name %></h3>
        <br />
        <h4> Food Type: </h4>
        <p><%= @recipe.food_type %> </p>
        <hr>
        <h4> Ingredients: </h4>
        <p><%= @recipe.ingredients %> </p>
        <hr>
        <h4> Directions: </h4>
        <p><%= @recipe.directions %> </p>
        <hr>
        <h4> Cook Time: </h4> <%= @recipe.cook_time %> Mins
        
    </div>
</div>